.body{
    display: flex;
    flex-direction: row;
}
.right{
    background-color: rgb(226, 224, 224);
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 1.875rem;    
    flex-direction: column;
    color: #008080;
    height: 100vh;
    width: 48vw;
}

.heading{
    font-size: 2.375rem;
    font-weight: 600;
}
.inputLabel{
    font-size:1.75rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.05rem;
    font-family: THICCCOBOI;
}
.Input{
    height: 2.5rem;
    width: 31.25rem;
    font-size: 1.25rem;
    padding: 0.625rem;
    
    border: none;
    border-radius: 0.5rem;
}
.signUp-btn{
    height: 3.75rem;
    width: 31.25rem;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    background-color: #008080;
    color: white ;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}

@media screen and (max-width:1175px) {
    .signUp-btn{
        width: 25rem;
    }
    .inputLabel{
        font-size: 1.5rem;

    }
    .Input{
        width: 25rem;
    }
}
@media screen and (max-width:1010px) {
    
    .signUp-btn{
        width: 20rem;
    }
    .inputLabel{
        font-size: 1.5rem;

    }
    .Input{
        width: 20rem;
        font-size: 1.0rem;
    }
    .heading{
        font-size: 2.1rem;
        font-weight: 600;
    }
}

@media screen and (max-width:832px) {
    .signUp-btn{
        width: 17rem;
    }
    .inputLabel{
        font-size: 1.5rem;

    }
    .Input{
        width: 17rem;
        font-size: 1.0rem;
    }
    .heading{
        font-size: 1.9rem;
        font-weight: 600;
    }
    
}

@media screen and (max-width: 730px) {
    .left{
        display: none;
    }
    .right{
        width: 100vw;
    }
    .signUp-btn{
        width: 28rem;
    }
    .inputLabel{
        font-size: 2rem;

    }
    .Input{
        width: 28rem;
        font-size: 1.3rem;
    }
    .heading{
        font-size: 2.2rem;
        font-weight: 600;
    }
}
@media screen and (max-width: 584px) {
    .left{
        display: none;
    }
    .right{
        width: 100vw;
    }
    .signUp-btn{
        width: 20rem;
    }
    .inputLabel{
        font-size: 1.7rem;

    }
    .Input{
        width: 20rem;
        font-size: 1.1rem;
    }
    .heading{
        font-size: 2rem;
        font-weight: 600;
    }
}
@media screen and (max-width: 382px) {
    .left{
        display: none;
    }
    .right{
        width: 100vw;
    }
    .signUp-btn{
        width: 16rem;
        font-size: 1.2rem;
    }
    .inputLabel{
        font-size: 1.45rem;

    }
    .Input{
        width: 16rem;
        font-size: 1.1rem;
    }
    .heading{
        font-size: 2rem;
        font-weight: 600;
    }
}
